* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  width: 100vw;
  height: 100%;
  margin: auto;
  text-align:center;
}

.nft-card {
  background-color: hsl(216, 50%, 16%);
  text-align: left;
  width: 20%;
  height: 100%;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  color: hsl(215, 51%, 70%);
  margin-top: 8%

}
.image-container{
  width:100%;
  position: relative;
  text-align:center;
  margin-bottom: 4%;
}
.cube-image{
  width:100%;

  border-radius: 10px;
}

.layover{
  position: absolute;
  background-color: hsl(178, 100%, 50%);
  width: 100%;
  height: 100%;
  top:0;
  opacity:0;
  border-radius: 10px;
}
.view-icon{
position: absolute;
top:40%;
left:42%;
}
.image-container:hover .layover{
  opacity: 0.6;
  cursor: pointer;
}
.image-container:hover .view-icon{
  opacity: 1;
}

.name{
 color:white;
 text-decoration: none;
 font-family: 'Outfit', sans-serif;
 font-weight: 700;
}

.name:hover{
  color:hsl(178, 100%, 50%);
}

.description{
color: hsl(215, 51%, 70%);
margin-bottom: 10%;
margin-top: 10%;
}

.price{
  color:hsl(178, 100%, 50%);
  display: inline-block;
  width: 60%
}

 hr{
   margin: auto;
   border-style: solid none none none;
   border-color: hsl(215, 51%, 70%);
   margin-top: 8%;
   margin-bottom: 6%;
 }


.jules-pic{
  width: 10%;
 border: 1px solid white;
  border-radius: 50%;
  vertical-align:middle;
  margin-right: 4%;

}
.jules-name{
  color:white;
  text-decoration: none;
  font-size:85%;
}
.creation{
  font-size: 85%
}

@media only screen and (max-width:480px) {
.nft-card{
  width:87%;
  height: 82%;
}
